@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500);

body { 
  font-family: 'Droid Serif', 'Noto Sans JP', 'Palatino Linotype', 'Book Antiqua', "Palatino", 'Songti SC', serif; 
}
h1, h2, h3 {
  font-family: 'Droid Serif', 'Noto Sans JP', 'Palatino Linotype', 'Book Antiqua', "Palatino", 'Songti SC', serif; 
  font-weight: normal;
}
h1 {
  margin-top: 0em;
  margin-bottom: 0.5em;
}
h2 {
  margin-bottom: -0.5em;
}
h3 {
  margin-bottom: -0.5em;
}
h4 {
  font-family: 'Droid Serif', 'Noto Sans JP', 'Palatino Linotype', 'Book Antiqua', "Palatino", 'Songti SC', serif; 
  font-weight: normal;
  font-size: 1.25em;
  margin-bottom: -20px;
}
.remark-code, .remark-inline-code { 
  font-family: 'Source Code Pro', 'Ricty Diminished', 'Noto Sans JP', 'Lucida Console', "Monaco", monospace; 
}
